{
    "openapi": "3.1.0",
    "info": {
        "title": "xpander.ai API Service",
        "description": "\n    The xpander.ai API Service provides a unified REST API for managing AI agents,\n    executing tasks, managing knowledge bases, and integrating with external systems.\n    \n    Features:\n    - Agent Management: Create, update, deploy, and delete AI agents\n    - Task Execution: Invoke agents with support for sync, async, and streaming modes\n    - Knowledge Bases: Manage knowledge bases and documents for RAG workflows\n    - Toolkits: Access and invoke tools across various integrations\n    - MCP Integration: Model Context Protocol support for standardized AI interactions\n    \n    Authentication: All endpoints require API key authentication via x-api-key header.\n    ",
        "version": "0.001"
    },
    "servers": [
        {
            "url": "https://api.xpander.ai",
            "description": "Production API Server"
        }
    ],
    "x-mcp": {
        "enabled": true
    },
    "paths": {
        "/health": {
            "get": {
                "summary": "Get",
                "description": "Health check endpoint.\n\nReturns service health status. No authentication required.\nUsed by load balancers and monitoring systems.\n\nReturns:\n    str: \"ok\" if service is healthy",
                "operationId": "get_health_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents": {
            "get": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents CRUD"
                ],
                "summary": "List Agents (Minimal)",
                "description": "Retrieve a paginated list of AI agents with minimal information (ID, name, status)",
                "operationId": "List_agents__minimal__v1_agents_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_MinimalAIAgent_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents CRUD"
                ],
                "summary": "Create Ai Agent",
                "description": "Create a new AI agent with specified configuration, tools, and knowledge bases",
                "operationId": "Create_AI_Agent_v1_agents_post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentBuilderCreateAgentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents/full": {
            "get": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents CRUD"
                ],
                "summary": "List Agents (Full)",
                "description": "Retrieve a paginated list of AI agents with complete details including configuration and deployment info",
                "operationId": "List_agents__full__v1_agents_full_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_AIAgent_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents/{agent_id}": {
            "get": {
                "tags": [
                    "API v1",
                    "Agents"
                ],
                "summary": "Get Agent",
                "description": "Retrieve detailed information about a specific AI agent by its unique identifier",
                "operationId": "Get_Agent_v1_agents__agent_id__get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents CRUD"
                ],
                "summary": "Update Ai Agent",
                "description": "Update an existing AI agent's configuration, tools, or knowledge bases",
                "operationId": "Update_AI_Agent_v1_agents__agent_id__patch",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentBuilderUpdateAgentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents CRUD"
                ],
                "summary": "Deploy Ai Agent",
                "description": "Deploy an AI agent to make it active and available for task execution",
                "operationId": "Deploy_AI_Agent_v1_agents__agent_id__put",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AIAgent"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents CRUD"
                ],
                "summary": "Delete Ai Agent",
                "description": "Permanently delete an AI agent and all associated resources",
                "operationId": "Delete_AI_Agent_v1_agents__agent_id__delete",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents/{agent_id}/invoke/async": {
            "post": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents Invocation"
                ],
                "summary": "Invoke Agent (Async)",
                "description": "Invoke an AI agent asynchronously. Returns immediately with task ID for later polling.",
                "operationId": "Invoke_Agent__Async__v1_agents__agent_id__invoke_async_post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentExecutionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreatedTask"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents/{agent_id}/invoke/stream": {
            "post": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents Invocation"
                ],
                "summary": "Invoke Agent (Stream)",
                "description": "Invoke an AI agent with real-time streaming. Returns Server-Sent Events (SSE) for live task updates.",
                "operationId": "Invoke_Agent__Stream__v1_agents__agent_id__invoke_stream_post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentExecutionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents/{agent_id}/invoke": {
            "post": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Agents Invocation"
                ],
                "summary": "Invoke Agent (Sync)",
                "description": "Invoke an AI agent and wait for task completion. Returns the final result.",
                "operationId": "Invoke_Agent__Sync__v1_agents__agent_id__invoke_post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentExecutionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreatedTask"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/agents/{agent_id}/tasks": {
            "get": {
                "tags": [
                    "API v1",
                    "Agents",
                    "Tasks CRUD"
                ],
                "summary": "Get Agent Tasks",
                "description": "Retrieve paginated list of task executions for a specific agent with optional filters",
                "operationId": "Get_Agent_Tasks_v1_agents__agent_id__tasks_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "agent_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Agent Id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Filter by user ID",
                            "title": "User Id"
                        },
                        "description": "Filter by user ID"
                    },
                    {
                        "name": "parent_task_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Filter by parent task ID",
                            "title": "Parent Task Id"
                        },
                        "description": "Filter by parent task ID"
                    },
                    {
                        "name": "triggering_agent_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Filter by triggering agent ID (parent calling agent)",
                            "title": "Triggering Agent Id"
                        },
                        "description": "Filter by triggering agent ID (parent calling agent)"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/xpander_dev_utils__models__executions__AgentExecutionStatus",
                            "description": "Filter by task execution status"
                        },
                        "description": "Filter by task execution status"
                    },
                    {
                        "name": "internal_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "Filter by internal task status",
                            "title": "Internal Status"
                        },
                        "description": "Filter by internal task status"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_TasksListItem_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/knowledge": {
            "get": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD"
                ],
                "summary": "List Knowledge Bases",
                "description": "Returns a paginated list of Knowledge bases",
                "operationId": "List_knowledge_bases_v1_knowledge_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_KnowledgeBaseItem_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD"
                ],
                "summary": "Create Knowledge Base",
                "description": "Creates a knowledge base",
                "operationId": "Create_knowledge_base_v1_knowledge_post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateManagedKnowledgeBaseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KnowledgeBaseItem"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/knowledge/{kb_id}": {
            "get": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD"
                ],
                "summary": "Get Knowledge Base Details",
                "description": "Get knowledge base item details by id",
                "operationId": "Get_knowledge_base_details_v1_knowledge__kb_id__get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KnowledgeBaseItem"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD"
                ],
                "summary": "Delete Knowledge Base",
                "description": "Deletes knowledge base item by id",
                "operationId": "Delete_knowledge_base_v1_knowledge__kb_id__delete",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD"
                ],
                "summary": "Update Knowledge Base",
                "description": "Updates a knowledge base",
                "operationId": "Update_knowledge_base_v1_knowledge__kb_id__patch",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateManagedKnowledgeBaseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KnowledgeBaseItem"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/knowledge/{kb_id}/documents": {
            "get": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD",
                    "Knowledge Documents"
                ],
                "summary": "Get Knowledge Base Documents",
                "description": "Get knowledge base documents",
                "operationId": "Get_knowledge_base_documents_v1_knowledge__kb_id__documents_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_KnowledgeBaseDocumentItem_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD",
                    "Knowledge Documents"
                ],
                "summary": "Add Knowledge Base Documents",
                "description": "Add knowledge base documents",
                "operationId": "Add_knowledge_base_documents_v1_knowledge__kb_id__documents_post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddDocumentsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/src__models__knowledge__documents__KnowledgeBaseDocumentItem"
                                    },
                                    "title": "Response Add Knowledge Base Documents V1 Knowledge  Kb Id  Documents Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/knowledge/{kb_id}/documents/{document_id}": {
            "get": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD",
                    "Knowledge Documents"
                ],
                "summary": "Get Knowledge Base Document By Id",
                "description": "Get knowledge base document by id",
                "operationId": "Get_knowledge_base_document_by_id_v1_knowledge__kb_id__documents__document_id__get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Document Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/xpander_dev_utils__models__knowledge_bases__KnowledgeBaseDocumentItem"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge CRUD",
                    "Knowledge Documents"
                ],
                "summary": "Delete Knowledge Base Document By Id",
                "description": "Delete knowledge base document by id",
                "operationId": "Delete_knowledge_base_document_by_id_v1_knowledge__kb_id__documents__document_id__delete",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    },
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Document Id"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/knowledge/{kb_id}/search": {
            "get": {
                "tags": [
                    "API v1",
                    "Knowledge",
                    "Knowledge Search"
                ],
                "summary": "Search In Knowledge Base",
                "description": "Searches using vector search in knowledge base",
                "operationId": "Search_in_knowledge_base_v1_knowledge__kb_id__search_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "kb_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Kb Id"
                        }
                    },
                    {
                        "name": "search_query",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Query to search in the VDB",
                            "title": "Search Query"
                        },
                        "description": "Query to search in the VDB"
                    },
                    {
                        "name": "use_bubble",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Should use bubble search to return the result capped",
                            "default": false,
                            "title": "Use Bubble"
                        },
                        "description": "Should use bubble search to return the result capped"
                    },
                    {
                        "name": "bubble_size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Bubble size (padding + result + margin)",
                            "default": 1000,
                            "title": "Bubble Size"
                        },
                        "description": "Bubble size (padding + result + margin)"
                    },
                    {
                        "name": "top_k",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "integer"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Top K Results",
                            "default": 10,
                            "title": "Top K"
                        },
                        "description": "Top K Results"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/VectorSearchResult"
                                    },
                                    "title": "Response Search In Knowledge Base V1 Knowledge  Kb Id  Search Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/toolkits": {
            "get": {
                "tags": [
                    "API v1",
                    "Toolkits",
                    "Toolkits CRUD"
                ],
                "summary": "List Toolkits",
                "description": "Returns a paginated list of Toolkits",
                "operationId": "List_Toolkits_v1_toolkits_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Toolkit_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/toolkits/{toolkit_id}/tools": {
            "get": {
                "tags": [
                    "API v1",
                    "Toolkits"
                ],
                "summary": "Get Toolkit Tools",
                "description": "Returns toolkit in tool calling structure",
                "operationId": "Get_toolkit_tools_v1_toolkits__toolkit_id__tools_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "toolkit_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Toolkit Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    },
                                    "title": "Response Get Toolkit Tools V1 Toolkits  Toolkit Id  Tools Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/toolkits/{toolkit_id}/tools/{tool_id}": {
            "post": {
                "tags": [
                    "API v1",
                    "Toolkits"
                ],
                "summary": "Invoke Toolkit Tool",
                "description": "Invokes a tool in toolkit",
                "operationId": "Invoke_toolkit_tool_v1_toolkits__toolkit_id__tools__tool_id__post",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "toolkit_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Toolkit Id"
                        }
                    },
                    {
                        "name": "tool_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Tool Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/tasks": {
            "get": {
                "tags": [
                    "API v1",
                    "Tasks",
                    "Tasks CRUD"
                ],
                "summary": "Get Tasks",
                "description": "Get pagniated tasks list",
                "operationId": "Get_Tasks_v1_tasks_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Page number (starting from 1)",
                            "default": 1,
                            "title": "Page"
                        },
                        "description": "Page number (starting from 1)"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50,
                            "minimum": 1,
                            "description": "Items per page (max 50)",
                            "default": 20,
                            "title": "Per Page"
                        },
                        "description": "Items per page (max 50)"
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "filter by user id (optional)",
                            "title": "User Id"
                        },
                        "description": "filter by user id (optional)"
                    },
                    {
                        "name": "parent_task_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "filter by parent task id (optional)",
                            "title": "Parent Task Id"
                        },
                        "description": "filter by parent task id (optional)"
                    },
                    {
                        "name": "triggering_agent_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "filter by triggering agent id (parent calling agent) (optional)",
                            "title": "Triggering Agent Id"
                        },
                        "description": "filter by triggering agent id (parent calling agent) (optional)"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/xpander_dev_utils__models__executions__AgentExecutionStatus",
                            "description": "filter by task status (optional)"
                        },
                        "description": "filter by task status (optional)"
                    },
                    {
                        "name": "internal_status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "description": "filter by internal status (optional)",
                            "title": "Internal Status"
                        },
                        "description": "filter by internal status (optional)"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_TasksListItem_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/tasks/{task_id}": {
            "get": {
                "tags": [
                    "API v1",
                    "Tasks",
                    "Tasks CRUD"
                ],
                "summary": "Get Task",
                "description": "Get Task by ID",
                "operationId": "Get_Task_v1_tasks__task_id__get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Task Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgentExecution"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "API v1",
                    "Tasks",
                    "Tasks CRUD"
                ],
                "summary": "Delete Task",
                "description": "Delete Task by ID",
                "operationId": "Delete_Task_v1_tasks__task_id__delete",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Task Id"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful Response"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/tasks/{task_id}/thread": {
            "get": {
                "tags": [
                    "API v1",
                    "Tasks",
                    "Tasks CRUD"
                ],
                "summary": "Get Task'S Thread",
                "description": "Get Task's thread",
                "operationId": "Get_Task_s_thread_v1_tasks__task_id__thread_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Task Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/tasks/{task_id}/thread/full": {
            "get": {
                "tags": [
                    "API v1",
                    "Tasks",
                    "Tasks CRUD"
                ],
                "summary": "Get Task'S Full Thread",
                "description": "Get Task's full thread including sub tasks",
                "operationId": "Get_Task_s_full_thread_v1_tasks__task_id__thread_full_get",
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Task Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/misc/db": {
            "get": {
                "tags": [
                    "API v1",
                    "Misc",
                    "DB",
                    "Postgresql"
                ],
                "summary": "Get Db",
                "description": "Get DB Connection string",
                "operationId": "Get_DB_v1_misc_db_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NeonProject"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "AIAgent": {
                "properties": {
                    "id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Id"
                    },
                    "unique_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Unique Name"
                    },
                    "origin_template": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Origin Template"
                    },
                    "delegation_end_strategy": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentDelegationEndStrategy"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "return-to-start"
                    },
                    "environment_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Environment Id"
                    },
                    "sub_agents_continuous_thread": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Sub Agents Continuous Thread",
                        "default": true
                    },
                    "deployment_type": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentDeploymentType"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "serverless"
                    },
                    "created_by_prompt": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created By Prompt"
                    },
                    "prompts": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Prompts",
                        "default": []
                    },
                    "name": {
                        "type": "string",
                        "title": "Name"
                    },
                    "framework": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Framework",
                        "default": "agno"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description",
                        "default": ""
                    },
                    "tools": {
                        "anyOf": [
                            {
                                "items": {},
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tools",
                        "default": []
                    },
                    "icon": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Icon",
                        "default": "🚀"
                    },
                    "avatar": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Avatar",
                        "default": "male-avatar"
                    },
                    "source_nodes": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/AIAgentSourceNode"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Source Nodes",
                        "default": []
                    },
                    "attached_tools": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/Connector"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Attached Tools",
                        "default": []
                    },
                    "access_scope": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentAccessScope"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "organizational"
                    },
                    "instructions": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentInstructions"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": {
                            "role": [],
                            "goal": [],
                            "general": ""
                        }
                    },
                    "oas": {
                        "anyOf": [
                            {
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Oas",
                        "default": {}
                    },
                    "graph": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/AIAgentGraphItem"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Graph",
                        "default": []
                    },
                    "llm_settings": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/AIAgentGraphItemLLMSettings"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Settings",
                        "default": []
                    },
                    "status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AgentStatus"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "ACTIVE"
                    },
                    "knowledge_bases": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/AgentKnowledgeBase"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Knowledge Bases",
                        "default": []
                    },
                    "version": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Version",
                        "default": 1
                    },
                    "organization_id": {
                        "type": "string",
                        "title": "Organization Id"
                    },
                    "created_by": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created By"
                    },
                    "created_at": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Created At"
                    },
                    "type": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentType"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "delegation_type": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentDelegationType"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "router"
                    },
                    "delegation_memory_strategy": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentDelegationMemoryStrategy"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "summarization"
                    },
                    "is_ai_employee": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Is Ai Employee",
                        "default": false
                    },
                    "using_nemo": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Using Nemo",
                        "default": false
                    },
                    "deletable": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Deletable",
                        "default": true
                    },
                    "model_provider": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentModelProvider"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "openai"
                    },
                    "model_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Model Name",
                        "default": "gpt-4.1"
                    },
                    "llm_api_base": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Api Base"
                    },
                    "output_format": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/OutputFormat"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "markdown"
                    },
                    "output_schema": {
                        "anyOf": [
                            {
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Output Schema"
                    },
                    "llm_credentials_key": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Credentials Key"
                    },
                    "llm_credentials_key_type": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/LLMCredentialsKeyType"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": "xpander"
                    },
                    "llm_credentials": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/LLMCredentials"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "expected_output": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Expected Output",
                        "default": ""
                    },
                    "agno_settings": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AgnoSettings"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "default": {
                            "session_storage": true,
                            "user_memories": false,
                            "session_summaries": false,
                            "num_history_runs": 3,
                            "max_tool_calls_from_history": 0,
                            "tool_call_limit": 0,
                            "coordinate_mode": true,
                            "pii_detection_enabled": false,
                            "pii_detection_mask": false,
                            "prompt_injection_detection_enabled": false,
                            "openai_moderation_enabled": false
                        }
                    },
                    "on_prem_event_streaming": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "On Prem Event Streaming",
                        "default": true
                    },
                    "prompts_caching_enabled": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Prompts Caching Enabled",
                        "default": false
                    },
                    "is_generalist": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Is Generalist",
                        "default": false
                    },
                    "webhook_url": {
                        "type": "string",
                        "title": "Webhook Url",
                        "readOnly": true
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "organization_id",
                    "webhook_url"
                ],
                "title": "AIAgent"
            },
            "AIAgentAccessScope": {
                "type": "string",
                "enum": [
                    "personal",
                    "organizational"
                ],
                "title": "AIAgentAccessScope"
            },
            "AIAgentDelegationEndStrategy": {
                "type": "string",
                "enum": [
                    "return-to-start",
                    "finish-with-last"
                ],
                "title": "AIAgentDelegationEndStrategy",
                "description": "Enumeration of the agent delegation end strategies.\n\nAttributes:\n    ReturnToStart: when last agent is finished and about to announce \"finish\" it will summarize and return to the first agent.\n    FinishWithLast: finish at the last agent."
            },
            "AIAgentDelegationMemoryStrategy": {
                "type": "string",
                "enum": [
                    "full",
                    "summarization",
                    "original-input"
                ],
                "title": "AIAgentDelegationMemoryStrategy",
                "description": "Enumeration of the agent delegation memory strategies.\n\nAttributes:\n    Full: The memory object will be passed completely between agents.\n    Summarization: Between each sub-agent delegation, a summarization will occur, and a new thread \n                  will be created for each agent.\n    OriginalInput: the sub agent will get the initial task with a fresh memory thread"
            },
            "AIAgentDelegationType": {
                "type": "string",
                "enum": [
                    "router",
                    "sequence"
                ],
                "title": "AIAgentDelegationType",
                "description": "Enumeration of the agent delegation types.\n\nAttributes:\n    Router: Marks the agent as a router agent - xpanderAI's LLM will decide which sub-agent to trigger.\n    Sequence: Marks the agent as a sequence agent - sub-agents will delegate to other sub-agents."
            },
            "AIAgentDeploymentType": {
                "type": "string",
                "enum": [
                    "serverless",
                    "container"
                ],
                "title": "AIAgentDeploymentType"
            },
            "AIAgentGraphItem": {
                "properties": {
                    "id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Id"
                    },
                    "item_id": {
                        "type": "string",
                        "title": "Item Id"
                    },
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name"
                    },
                    "type": {
                        "$ref": "#/components/schemas/AIAgentGraphItemType"
                    },
                    "sub_type": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentGraphItemSubType"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "targets": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Targets"
                    },
                    "settings": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AIAgentGraphItemSettings"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "llm_settings": {
                        "anyOf": [
                            {
                                "items": {
                                    "$ref": "#/components/schemas/AIAgentGraphItemLLMSettings"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Llm Settings",
                        "default": []
                    },
                    "is_first": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
[...]
