{
  "openapi": "3.1",
  "info": {
    "title": "XPander API",
    "description": "XPander API lets you interact with your LLM provider with the tools you want",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://inbound.xpander.ai/agents"
    }
  ],
  "paths": {
    "/{agent_id}/tools": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Get Tools",
        "description": "Get agent tools in a normalized and minimized structure",
        "operationId": "Xpander-Get_Tools",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Agent Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/{agent_id}/operations/{operation_id}": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Execute",
        "description": "Execute operation by agent request with given params (query, path, body)",
        "operationId": "Xpander-Execute_Operation",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the agent(for OpenAPI documentation) - used in middleware.",
              "title": "Agent Id"
            },
            "description": "The ID of the agent(for OpenAPI documentation) - used in middleware."
          },
          {
            "name": "operation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the operation to invoke.",
              "title": "Operation Id"
            },
            "description": "The ID of the operation to invoke."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object"
                  }
                ],
                "description": "The request body.",
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Invoke Operation  Agent Id  Operations  Operation Id  Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ],
              "type": "array",
              "title": "Location"
            },
            "msg": {
              "type": "string",
              "title": "Message"
            },
            "type": {
              "type": "string",
              "title": "Error Type"
            }
          },
          "type": "object",
          "required": [
            "loc",
            "msg",
            "type"
          ],
          "title": "ValidationError"
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}